html, body {
  width: 300px;
  height: 600px;
  margin: 0;
}

/**general behaviour*/

#popup-main {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #001524;
  color: white;
}

h1 {
  color: #77FF94;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.row {
  border: 0px;
}

button {
  margin: 5px;
  background-color: #001524;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: #313c42;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  background-color: #313c42;
}

button.confirm-del {
  background-color: #f03a5f;
  border-color: #f03a5f;
}

button.confirm-del:hover{
  background-color: #f1204a;
  border-color: #f1204a;
}

.item-wrapper {
  display: flex;
  align-items: center;
  justify-items: right;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #77ff9540;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #77FF94;
  border-radius: 4px;
}

/**everything to do with options pane*/

.row.options {
  flex: 0 1 auto;
  margin-bottom: 20px;
}

.options {
  margin-left: 4px;
  margin-right: 4px;
}

.modifier-option-wrapper {
  display: flex;
  align-content: space-between;
}

select {
  background-color: white;
  color: #001524;
  padding: 4px;
  border-width: 0px;
  border-radius: 4px;
}

/**everything to do with history feed*/

.row.history {
  flex: 1 1 auto;
  overflow-y: scroll;
}

#historyFeed {
  flex: 0 1 auto;
  margin-left: 5px;
  margin-right: 5px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  margin-left: 4px;
  margin-right: 4px;
}

.history-header button {
  margin: 0px;
  margin-left: auto;
}

.headerbtn {
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-width: 0px;
  padding: 2px;
}

.headerbtn.display-feedback {
  color: #77FF94
}

.headerbtn:hover {
  background-color: transparent;
  color: #77FF94;
}

.delbtn:hover {
  background-color: transparent;
  color: #f03a5f;
}

.header{
  background-color: #252540;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0px 0px;
}

.header .controls {
  margin-left: auto;
}

.header .timeCopied {
  margin-left: 2px;
}

div.body {
  background-color: #313c42;
  padding: 2px;
}

div.body:hover {
  cursor: pointer;
}

code {
  white-space: pre-wrap;
}

div.body.constrained {
  max-height: 55px;
  overflow: hidden;
}

div.footer {
  margin-bottom: 8px;
  background-color: #252540;
  border-radius: 0px 0px 4px 4px;
}

div.footer:hover {
  cursor: pointer;
  background-color: #313c42;
}

div.footer-content{
  text-align: center;
}